.p-8.max-w-7xl.mx-auto{ class: t.font_family }
  .flex.items-center.justify-between.mb-6
    %h1.text-2xl{ class: cp_heading }= @tool_class.label
  .overflow-hidden{ class: cp_card }
    .p-6
      %p.text-sm{ class: cp_muted_text }
        = @tool_class.label
