- form_url = resource_path(@resource_class.resource_name, @record)

.p-8.max-w-7xl.mx-auto{ class: t.font_family }
  %h1.text-2xl.mb-6{ class: cp_heading }
    Edit #{@resource_class.model.model_name.human}
    %span.text-gray-400= "##{@record.id}"

  .p-6{ class: cp_card }
    = render "form", form_url: form_url
